/*
    fonts and colors
    colors derived from: https://primer.style/prism
*/
@layer theme {
    :root {
        color-scheme: dark light;
        --system-ui: system-ui, "Segoe UI", Robot, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: oklch(5% 0 0);
            --color: oklch(95% 0 0);
            --border: oklch(70% 0 0);
            --card: oklch(2% 0 0);
            --blue: #80ccff;
            --green: #6fdd8b;
            --yellow: #eac54f;
            --orange: #ffb77c;
            --red: #ffaba8;
            --purple: #d8b9ff;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            --background: oklch(95% 0 0);
            --color: oklch(5% 0 0);
            --border: oklch(30% 0 0);
            --card: oklch(98% 0 0);
            --blue: #0969da;
            --green: #1a7f37;
            --yellow: #9a6700;
            --orange: #bc4c00;
            --red: #cf222e;
            --purple: #8250df;
        }
    }

    body {
        font-family: var(--system-ui);
        background-color: var(--background);
        color: var(--color);
    }

    pre,
    code {
        color: var(--green);
        font-size: .9rem;
    }
}